name: Build the runner Docker image

on:
  workflow_call:
    inputs:
      push:
        type: boolean
        default: false
      force-deploy:
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      push:
        description: Push images
        type: boolean
        default: false

env:
  push: ${{ inputs.push }}
  ghcr_token: ${{ secrets.GHCR_TOKEN}}

jobs:
  build-runner:
    permissions:
      contents: read
      pull-requests: write
      deployments: write
      packages: write
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - id: app_version
        name: Application version creators
        uses: ministryofjustice/hmpps-github-actions/.github/actions/build-test-and-deploy/create_app_version@v2.8.1 # WORKFLOW_VERSION

      - name: GitHub app JWT and installation access token generation
        uses: jamestrousdale/github-app-jwt-token@0.1.4
        id: generate-github-app-tokens
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
        
      - name: Build Docker images
        uses: ./.github/actions/docker-build
        id: build
        with:
          project: hmpps-github-actions-runner-security
          push: ${{ env.push }}
          version: '${{steps.app_version.outputs.version}}'
          gh_auth_token: ${{ steps.generate-github-app-tokens.outputs.access-token }}

